<a href="https://colab.research.google.com/github/Baisalis/DS-Unit-1-Sprint-2-Statistics/blob/master/LS_DS_121_Statistics_Probability_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

Your assignment is to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records). The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

Your goals:

1. Load and clean the data (or determine the best method to drop observations when running tests)
2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

Note that this data will involve *2 sample* t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.

Stretch goals:

1. Refactor your code into functions so it's easy to rerun with arbitrary variables
2. Apply hypothesis testing to your personal project data (for the purposes of this notebook you can type a summary of the hypothesis you formed and tested)

In [0]:
import pandas as pd
from scipy import stats

df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data", header=None)
df.columns = ["Party",
              "handicapped-infants",
             "water-project-cost-sharing",
             "adoption-of-the-budget-resolution",
             "physician-fee-freeze",
             "el-salvador-aid",
             "religious-groups-in-schools",
             "anti-satellite-test-ban",
             "aid-to-nicaraguan-contras",
             "mx-missile",
             "immigration",
             "synfuels-corporation-cutback",
             "education-spending",
             "superfund-right-to-sue",
             "crime",
             "duty-free-exports",
             "export-administration-act-south-africa"]

df = df.replace({"?": None, "y": 1, "n": 0})

In [3]:
df.head()

        Party  ...  export-administration-act-south-africa
0  republican  ...                                     1.0
1  republican  ...                                     NaN
2    democrat  ...                                     0.0
3    democrat  ...                                     1.0
4    democrat  ...                                     1.0

[5 rows x 17 columns]

In [4]:
df.shape

(435, 17)

In [5]:
df['Party'].unique()

array(['republican', 'democrat'], dtype=object)

In [6]:
df['Party'].value_counts()

democrat      267
republican    168
Name: Party, dtype: int64

In [7]:
rep = df[df['Party'] =='republican']
rep.head()

         Party  ...  export-administration-act-south-africa
0   republican  ...                                     1.0
1   republican  ...                                     NaN
7   republican  ...                                     1.0
8   republican  ...                                     1.0
10  republican  ...                                     0.0

[5 rows x 17 columns]

In [8]:
dem = df[df['Party'] =='democrat']
dem.head()

      Party  ...  export-administration-act-south-africa
2  democrat  ...                                     0.0
3  democrat  ...                                     1.0
4  democrat  ...                                     1.0
5  democrat  ...                                     1.0
6  democrat  ...                                     1.0

[5 rows x 17 columns]

In [0]:

from scipy.stats import ttest_ind, ttest_ind_from_stats, ttest_rel

In [10]:

ttest_indrep['crime'](,dem['crime'],nan_policy='omit')

Ttest_indResult(statistic=16.342085656197696, pvalue=9.952342705606092e-47)

In [20]:
rep['crime'].mean

<bound method Series.mean of 0      1.0
1      1.0
7      1.0
8      1.0
10     1.0
      ...
427    1.0
430    1.0
432    1.0
433    1.0
434    1.0
Name: crime, Length: 168, dtype: float64>

In [21]:
dem['crime'].mean

<bound method Series.mean of 2      1.0
3      0.0
4      1.0
5      1.0
6      1.0
      ...
425    0.0
426    0.0
428    0.0
429    NaN
431    0.0
Name: crime, Length: 267, dtype: float64>

we reject the null hypothasis and suggest the alternative hypothesis

In [11]:
ttest_ind(rep['religious-groups-in-schools'],dem['religious-groups-in-schools'],nan_policy='omit')

Ttest_indResult(statistic=9.737575825219457, pvalue=2.3936722520597287e-20)

In [22]:
rep['religious-groups-in-schools'].mean

<bound method Series.mean of 0      1.0
1      1.0
7      1.0
8      1.0
10     0.0
      ...
427    1.0
430    1.0
432    1.0
433    1.0
434    1.0
Name: religious-groups-in-schools, Length: 168, dtype: float64>

In [25]:
dem['religious-groups-in-schools'].mean

<bound method Series.mean of 2      1.0
3      1.0
4      1.0
5      1.0
6      1.0
      ...
425    0.0
426    0.0
428    0.0
429    0.0
431    0.0
Name: religious-groups-in-schools, Length: 267, dtype: float64>

In [12]:
ttest_ind(rep['adoption-of-the-budget-resolution'],dem['adoption-of-the-budget-resolution'],nan_policy='omit')

Ttest_indResult(statistic=-23.21277691701378, pvalue=2.0703402795404463e-77)

In [24]:
rep['adoption-of-the-budget-resolution'].mean

<bound method Series.mean of 0      0.0
1      0.0
7      0.0
8      0.0
10     0.0
      ...
427    0.0
430    1.0
432    0.0
433    0.0
434    0.0
Name: adoption-of-the-budget-resolution, Length: 168, dtype: float64>

In [27]:
dem['adoption-of-the-budget-resolution'].mean

<bound method Series.mean of 2      1.0
3      1.0
4      1.0
5      1.0
6      0.0
      ...
425    1.0
426    1.0
428    NaN
429    1.0
431    1.0
Name: adoption-of-the-budget-resolution, Length: 267, dtype: float64>

rep['adoption-of-the-budget-resolution'] <0.01

dem['adoption-of-the-budget-resolution'] >0.01

In [13]:
ttest_ind(rep['superfund-right-to-sue'],dem['superfund-right-to-sue'],nan_policy='omit')

Ttest_indResult(statistic=13.51064251060933, pvalue=1.2278581709672758e-34)

In [28]:
rep['superfund-right-to-sue'].mean

<bound method Series.mean of 0      1.0
1      1.0
7      1.0
8      1.0
10     1.0
      ...
427    1.0
430    1.0
432    1.0
433    1.0
434    1.0
Name: superfund-right-to-sue, Length: 168, dtype: float64>

In [29]:
dem['superfund-right-to-sue'].mean

<bound method Series.mean of 2      1.0
3      1.0
4      1.0
5      1.0
6      NaN
      ...
425    0.0
426    0.0
428    1.0
429    0.0
431    0.0
Name: superfund-right-to-sue, Length: 267, dtype: float64>

we reject the null hypothasis and suggest the alternative hypothesis

In [14]:
ttest_ind(rep['anti-satellite-test-ban'],dem['anti-satellite-test-ban'],nan_policy='omit')

Ttest_indResult(statistic=-12.526187929077842, pvalue=8.521033017443867e-31)

In [30]:
rep['anti-satellite-test-ban'].mean

<bound method Series.mean of 0      0.0
1      0.0
7      0.0
8      0.0
10     0.0
      ...
427    1.0
430    0.0
432    0.0
433    NaN
434    0.0
Name: anti-satellite-test-ban, Length: 168, dtype: float64>

In [31]:
dem['anti-satellite-test-ban'].mean

<bound method Series.mean of 2      0.0
3      0.0
4      0.0
5      0.0
6      0.0
      ...
425    1.0
426    1.0
428    1.0
429    1.0
431    1.0
Name: anti-satellite-test-ban, Length: 267, dtype: float64>

Fail to reject the null hypothesis

In [15]:
ttest_ind(rep['immigration'],dem['immigration'],nan_policy='omit')

Ttest_indResult(statistic=1.7359117329695164, pvalue=0.08330248490425066)

In [16]:
ttest_ind(rep['water-project-cost-sharing'],dem['water-project-cost-sharing'],nan_policy='omit')

Ttest_indResult(statistic=0.08896538137868286, pvalue=0.9291556823993485)

In [17]:
ttest_ind(rep['export-administration-act-south-africa'],dem['export-administration-act-south-africa'],nan_policy='omit')

Ttest_indResult(statistic=-6.849454815841208, pvalue=3.652674361672226e-11)

In [18]:
rep['export-administration-act-south-africa'].mean

<bound method Series.mean of 0      1.0
1      NaN
7      1.0
8      1.0
10     0.0
      ...
427    1.0
430    1.0
432    1.0
433    1.0
434    0.0
Name: export-administration-act-south-africa, Length: 168, dtype: float64>

In [19]:
dem['export-administration-act-south-africa'].mean

<bound method Series.mean of 2      0.0
3      1.0
4      1.0
5      1.0
6      1.0
      ...
425    NaN
426    1.0
428    1.0
429    1.0
431    1.0
Name: export-administration-act-south-africa, Length: 267, dtype: float64>

rep['export-administration-act-south-africa']>0.01

dem['export-administration-act-south-africa']<0.01